@model Checklist.Models.SiteActionItem

@Html.HiddenFor(m => m.ActionID)
@Html.HiddenFor(m => m.LocationID)

<button type="submit">Complete</button>
&nbsp&nbsp&nbsp
@Model.DateCreated.ToString("MM/dd/yyyy")
&nbsp&nbsp&nbsp
@Html.DisplayFor(m => m.Description)