@model IEnumerable<Checklist.Models.SiteActionItem>


@Ajax.ActionLink("Hide Completed Action Items", "hideAction", new AjaxOptions() {
                                                                    UpdateTargetId = "completeActionItems",
                                                                    InsertionMode = InsertionMode.Replace})

<table>
        
    @foreach (var item in Model)
    {
        <tr>
        <td>@item.Description</td>
        <td>@item.DateCreated.ToString("MM/dd/yyyy")</td>
        </tr>
    }
</table>