@model IEnumerable<Checklist.Models.SiteActionItem>

<html>
    <head>
        <title>test</title>
    </head>
    <body>
        <table>
            @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                </tr>
               }
            
        </table>
    </body>
</html>