@model Checklist.Models.ViewModel

<h2>@ViewBag.Message</h2>
<p>
    This page will contain the locations that correspond to the Business Consultant that is currently logged in
</p>

<table>
    <tr>
        <td>Locaiton</td>
        <td>Last Visit</td>
    </tr>
    @foreach (var q in Model.viewList)
    {
        using (Html.BeginForm("LocationInfo", "Check", new { locationId = q.location.LocationId }))
        {
        <tr>
            <td>
                <button type="submit">@q.location.LocationName</button>
            </td>
            @if(q.lastVisit.Year > 1000)
            {
            <td>
                @q.lastVisit.ToString("MM/dd/yyyy")
            </td>
            }
        </tr>
        }
    }
</table>
