
<h2>@ViewBag.message</h2>

<p>
    This page will contain a checklist with old data in it.
</p>

<p>@Html.ActionLink("Send", "SendConfirmation", "Check")</p>

<p>@Html.ActionLink("Back to Previous Checklists", "PreviousChecklists", "Check")</p>
