
<h2>@ViewBag.message</h2>

<p>
    This page will contain a checklist with old data in it.
</p>

@using (Html.BeginForm("SendConfirmation", "Check", new { locationId = ViewBag.LocationId }))
{
    <button type ="submit">Send</button>
}

@using (Html.BeginForm("PreviousChecklists", "Check", new { locationId = ViewBag.LocationId }))
{
    <button type ="submit">Back to Previous Checklists</button>
}