@model IEnumerable<Checklist.Models.SiteVisit>

<h2>@ViewBag.Message</h2>


@foreach (var b in Model)
{
    <header>
        @using (Html.BeginForm("OldChecklist", "Check", new { locationId = ViewBag.LocationId }))
        {
            <button type ="submit">@b.dateOfVisit</button>
        }
    </header>
}


@using (Html.BeginForm("LocationInfo", "Check", new { locationId = ViewBag.LocationId }))
{
    <button type ="submit">Back to Location Info</button>
}
