<h2>@ViewBag.Message</h2>


@foreach (var b in ViewBag.SiteVisitDB)
{
    <header>
        @using (Html.BeginForm("OldChecklist", "Check", new { location = ViewData["Location"] }))
        {
            <button type ="submit">@b.dateOfVisit</button>
        }
    </header>
}


@using (Html.BeginForm("LocationInfo", "Check", new { location = ViewData["Location"] }))
{
    <button type ="submit">Back to Location Info</button>
}
