@model IEnumerable<Checklist.Models.SiteVisit>

<h2>@ViewBag.Message</h2>


@foreach (var b in Model)
{
    if(b.SiteVisitID != 0)
    {
        <header>
            @using (Html.BeginForm("OldChecklist", "Check", new { siteID = b.SiteVisitID }))
            {            
                <button type ="submit">@b.dateOfVisit</button>
            }
        </header>
    }
}


@using (Html.BeginForm("LocationInfo", "Check", new { locationId = Model.FirstOrDefault().LocationID }))
{
    <button type ="submit">Back to Location Info</button>
}
