@model IEnumerable<Checklist.Models.Question>

@foreach (var q in Model)
{
    <tr>
        <td>@q.QuestionName</td>
        

        @Html.Action("Answers", new { question = q.QuestionID })
    </tr>
    
}