@model IEnumerable<Checklist.Models.Section>

@foreach(var s in Model)
{
    <tr>
                <td><h2>@s.SectionName</h2></td>
                <td>Poor</td>
                <td>Good</td>
                <td>Excellent</td>
                <td>N/A</td>
                <td>Comments:</td>
    </tr>
    
    @Html.Action("Questions", new { section = s.SectionID });
        
}