
<h2>@ViewBag.message</h2>

<p>
    Your Checklist was succesfully sent!
</p>


@using (Html.BeginForm("LocationInfo", "Check", new { locationId = ViewBag.LocationId }))
{
    <button type ="submit">Return to Location Info</button>
}