@model Checklist.Models.ChecklistEntities

@{
    ViewBag.Title = "Location List";
}

<h2>Location List</h2>
<p>
    This page will contain the locations that correspond to the Business Consultant that is currently logged in.
</p>

@foreach (var q in Model.LocationCopies)
{
        <header>
            <h3>@q.BusinessConsultant @q.LocationName</h3>
        </header>
}

<p>@Html.ActionLink("Location Info", "LocationInfo", "Home")</p>