
@{
    ViewBag.Title = "Location List";
}



<h2>@ViewBag.Message</h2>
<p>
    This page will contain the locations that correspond to the Business Consultant that is currently logged in.
</p>


@foreach (var q in ViewBag.DB)
{
        <header>
            <h3>@q.BusinessConsultant @q.LocationName</h3>
        </header>
}

<p>@Html.ActionLink("Location Info", "LocationInfo", "Home")</p>