@{
    ViewBag.Title = "Location List";
}

<h2>Location List</h2>
<p>
    This page will contain the locations that correspond to the Business Consultant that is currently logged in.
</p>

<p>@Html.ActionLink("Location Info", "LocationInfo", "Home")</p>