@{
    ViewBag.Title = "Location Info";
}

<h2>Location Info</h2>

<p>
    This page will have some info based on the chosen location.
</p>

<p>@Html.ActionLink("Back to new location", "LocationList", "Home")</p>

<p>@Html.ActionLink("View Previous Checklists", "PreviousChecklists", "Home")</p>

<p>@Html.ActionLink("Create New Checklist", "NewChecklist", "Home")</p>
