@{
    ViewBag.Title = "PreviousChecklists";
}

<h2>PreviousChecklists</h2>

<p>
    A list of previous checklists will be shown on this page.
</p>

<p>@Html.ActionLink("Back to Location Info", "LocationInfo", "Home")</p>

<p>@Html.ActionLink("View Old Checklist", "OldChecklist", "Home")</p>