@{
    ViewBag.Title = "NewChecklist";
}

<h2>NewChecklist</h2>

<p>
       You will Create a new checklist on this page.
</p>

<p>@Html.ActionLink("Back to Location Info", "LocationInfo", "Account")</p>

<p>@Html.ActionLink("Send", "SendConfirmation", "Account")</p>