<h2>@ViewBag.Message</h2>

<table>
@foreach (var a in ViewBag.LocationDB)
{
    <tr>
        <td><h2>@a.LocationName</h2></td>
        @foreach (var b in ViewBag.SiteVisitDB)
        {
            if (a.LocationId == b.LocationID)
            {
                <td>
                     <button type ="submit">@b.dateOfVisit</button>
                </td>
            }
        }
    </tr>
}
</table>

<p>@Html.ActionLink("View Old Checklist", "OldChecklist", "Account")</p>

@using (Html.BeginForm("LocationInfo", "Account", new { location = ViewData["Location"] }))
{
    <button type ="submit">Back to Location Info</button>
}
