@{
    ViewBag.Title = "SendConfirmation";
}

<h2>SendConfirmation</h2>

<p>
    Your Checklist was succesfully sent!
</p>

<p>@Html.ActionLink("Return to Location Info", "LocationInfo", "Account")</p>